<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/style.css" />
      <title>New Message</title>
   </head>
   <body>
      <%- include("partials/header") %>
      <main class="flex justify-center">
         <form
            action="new-message"
            method="post"
            class="bg-color5 p-4 flex flex-col text-white rounded-sm gap-4 min-w-[300px]"
         >
            <label for="title">Title:</label>
            <input
               type="text"
               name="title"
               id="title"
               required
               value="<%= locals.title && locals.title %>"
               class="text-color2"
            />
            <label for="text">Message:</label>
            <textarea name="text" id="text" rows="10" class="text-color2"></textarea>
            <button type="submit">Submit</button>
            <%- include("partials/errors") %>
         </form>
      </main>
   </body>
</html>
